<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Gathering For Gary</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             
                <img class="img-responsive " style="margin:0 auto" border="0" alt="Logo" src="~/Images/logo3.png">

            </div>
        </div>


        <div class="navbar navbar-inverse ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About the Gathering", "Index", "Home")</li>
                        <li>@Html.ActionLink("Merchandise", "Merchandise", "Home")</li>
                        <li>@Html.ActionLink("Ticket Sales", "Index", "PayPal")</li>
                        <li>@Html.ActionLink("Why Brighton", "", "")</li>
                        <li>@Html.ActionLink("Gary Moore", "GaryMoore", "Home")</li>
                        <li>@Html.ActionLink("Places of Interest in Brighton", "", "")</li>
                        <li>@Html.ActionLink("Line Up", "LineUp", "Home")</li>
                        <li>@Html.ActionLink("Useful Links", "", "")</li>
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p id="contentWhiteText">&copy; @DateTime.Now.Year - The Gathering For Gary</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
